[2012-05-21 12:03] jzaefferer opened #3 "almond integration"
This is more of a support request then a bug report. I've got pretty far along, though can't get the almond integration working.

My config looks like this:

[code]

There are multiple issues:
- `replaceRequireScript` with `almond:true` has no effect, even though it would still be useful in this setup
- the `module` property of items in the `replaceRequireScript` array is ignored, though I'd like

[2012-05-21 12:11] asciidisco commented on #3
Mhh,

could you try to replace the "module" property in the "replaceRequireScript" property with the name of the main module?!

Yours:

[code]

How i think that it should look like:

[code]

Please tell me if that helped.
Else i will look deeper into that issue ;)

Regards.

[2012-05-21 12:19] jzaefferer commented on #3
That doesn't help. Currently that property is ignored, only the files property is used.

[2012-05-21 12:25] asciidisco commented on #3
Ahh, got it.
Lets see if i can fix this within the next hour ;)
Hold on...

[2012-05-21 13:18] asciidisco commented on #3
You are now able to add a 'modulePath' configuration setting to your replaceRequireScript config.
I´ve also added this to the README, that´s something you have to do, when specifying the 'out' property.

Hopefully that helps:

[code]

I don´t know if we get rid off all your issues, but this might be a step towards.
I tested it roughly with a configuration similar to yours.

[2012-05-21 13:50] jzaefferer commented on #3
That fixes the almond aspect, but I still have the other problem mentioned above:
- Once the above works, I end up with a main-built.js. When loading that, I get a script error about window.require being undefined. My main.js calls require. If I change that to use define, I don't get an error, but nothing is executed.

Actually `require` exists, but isn't a function. No idea yet why that isn't wor

[2012-05-21 13:55] asciidisco commented on #3
Just a guess,
have you tried to wrap your generated file like shown here:

https://github.com/jrburke/almond#usage

[2012-05-21 14:03] jzaefferer commented on #3
That works! Dunno why, but that's okay. Maybe add wrap:true to the example in the readme?

[2012-05-21 15:00] asciidisco commented on #3
Yeah, snd. time a hear from someone using the plugin successfully :D

I don´t know why, in my configuration, if i add wrap=true, i get some weird errors.
Maybe it´s about the layout of my main.js module file...

Nevertheless,
i added some info to the readme about the wrap issue,
closing this one here.

[2012-05-21 15:00] #3 closed, assigned to nobody

[2012-06-05 11:51] jzaefferer opened #4 "Issues with r.js 2.0 update"
Trying to upgrade from grunt-requirejs 0.2.6 to 0.2.8. Without changing anything, r.js complains about the modules property. If I remove that, I get an error from grunt-requirejs: https://gist.github.com/198fc8dd152893bac1fe (also includes the configuration used).

Seems like you aren't testing with the out-property so far?

[2012-06-06 09:38] asciidisco commented on #4
Thank you for discovering that one ;)
I´am currently writing some test cases with different setups to catch these kind of errors before an release goes out in to the wild.

Will take a deeper look tomorrow.

[2012-06-11 13:29] jzaefferer commented on #4
Any news here?

[2012-06-12 16:25] asciidisco commented on #4
Yap.
I think i got it.
Expect a new version by tomorrow...

[2012-06-18 09:06] jzaefferer commented on #4
Still seeing the same exact issues as originally supported, with 0.2.8

[2012-07-02 20:35] wlepinski opened #5 "Cannot find module 'jsdom'"
I followed the steps described on the getting started the error is rising when I type 'grunt' to compile the project:

[code]

Am I doing something wrong?

[2012-07-02 20:42] asciidisco commented on #5
Nope.
This is an issue from the node jQuery project in its current version.
As a quick fix, you can install "jsdom" & the other missing dependency "xmlhttprequest" like so:

Go to the directory where your grunt.js file lives and type:

[code]

and

[code]

then it should work.
If the node jQuery people are not fixing the issue within the next days, i will add the libs as
dependencies in the packag

[2012-07-02 20:45] wlepinski commented on #5
Yep.. just after send the post I ran a diff on node_modules folder and found the version change on jquery project.
Thanks for the quick response. ;)

[2012-07-02 20:48] asciidisco commented on #5
You´re welcome.
I´ll leave this open as an information for other people.

[2012-07-04 10:04] couto opened #6 "Cannot read property 'prototype' of undefined"
I've just installed a virtual machine to debug this error, so it's running in a complete fresh install of Windows7 with node v.0.8.1 and git bash.

![error message](http://f.cl.ly/items/09320v1j35022E3M410E/Screen%20Shot%202012-07-04%20at%2010.59.03%20AM.png)

Every time I try to run `grunt` with requirejs it throws that error, on the other hand if I remove the `grunt.loadNpmTasks('grunt-requirejs

[2012-07-04 10:21] asciidisco commented on #6
Mhh,
that´s weird. I must admit that i never tested the plugin in an windows environment.
I will try to verify this, but first I´ll have to install a virtual machine, so this might take a while (have to get an image first).
I´ll keep you updated.

[2012-07-04 10:23] couto commented on #6
Thanks. Meanwhile I'm also trying to pinpoint where the error is, since I really need this. =(

[2012-07-04 10:27] asciidisco commented on #6
Cool, thx.
Yeah, I´am sorry, I have a lot of paid work todo at the moment & therefore my OS projects have not the highest
priority. Hopefully that changes soon.

[2012-07-04 10:38] couto commented on #6
Ok. So I've pinpointed the error, and got to fix it temporarily.

The problem is the jQuery 1.7.3 package and not `grunt-requirejs` specifically as you can see [here](https://github.com/Couto/grunt-requirejs/blob/master/tasks/require.js#L32)

I'm going to fiddle around the jQuery rep so see if someone has reported this, or if there's some kind of fix.
I'll make a pull request if I get to fix this

[2012-07-04 10:46] asciidisco commented on #6
Awesome.
Yeah, the jQuery drives me mad.
Issue #5
is also related to the jQuery package.

If i have some time to clean up the code, i maybe consider to replace the jQuery dependency with smth. more reliable.

[2012-07-05 03:07] bernos commented on #6
FWIW, jsdom (dep of jQuery) does not actually install cleanly via npm on Win, as it requires Python 2.7 in order to build. This may be relevant here as well as issue #5. Just installing python now so see wassup

[2012-07-05 03:15] bernos commented on #6
Yup. Installed python, npm install jsdom, run grunt with requirejs-grunt task, and bingo. It gets better though... the jsdom build process needs the MSbuild tooling as well as python. I didn't have an issue here, as I have VS2010 installed, but definitely a trap for young players. The article at http://www.steveworkman.com/node-js/2012/installing-jsdom-on-windows/ was helpful, too.

[2012-07-05 15:28] asciidisco commented on #6
Thank you so much for your help,
I always, back in the times when i developed on a win machine,
felt that support for windows was a must have. First, i will take your informations and
copy them over to the readme file, second, i will take a look on other tools that could replace jQuery (e.g. the jsdom module dependency).

[2012-07-05 15:36] asciidisco commented on #6
Cheerio seems like a good replacement
https://github.com/MatthewMueller/cheerio

Could someone please test this on a win machine for me?
I have no win vm at the moment :(

[2012-07-06 02:32] chadhietala opened #8 "Almond Does Not Get Included With Multiple Modules"
It looks like when you set almond to true, almond will be only added to the first module in your modules object.  The other modules are just wrapped in a define.

Here is what my config looks like.

[code]

[2012-07-06 13:56] asciidisco commented on #8
I never had this use case,
but I see why this doesn´t work; i´ll try to fix it this weekend.

[2012-07-06 13:57] asciidisco commented on #5
Just for the sake of information,
When I´ll fix issue #6 (or better, merge in the pull request),
this annoying bug will be gone.

[2012-07-10 10:54] #5 closed, assigned to nobody

[2012-07-10 10:55] asciidisco commented on #6
Replaced jQuery dependency with cheerio.

[2012-07-10 10:55] #6 closed, assigned to nobody

[2012-07-10 12:25] asciidisco commented on #4
Hey Jörn,
i´ve made a few changes, could you please verify with 0.2.9?

[2012-07-11 10:59] jzaefferer commented on #4
The problem still exists. I don't see any commit that would've any chance of fixing this. The gist in the description above is still exactly the result I'm getting.

[2012-07-11 12:45] asciidisco commented on #4
Stupid me,
i didn´t commited all the things i wanted to.
Unfortunatly I´am away until friday :(

[2012-07-22 12:09] Fintan opened #11 "sample project"
Would it be possible to provide a sample project as part of the getting started documentation?

A simple hello world project might help with understanding the structure and dependencies for someone like myself trying to get up and running with grunt and requirejs.

thanks for your work on the plugin

Fintan

[2012-07-23 11:02] asciidisco commented on #11
Hi,
thanks for your input.
I know it´s hard to get started with all of this new tools around; I´am currently preparing a few scenarios
to automatically test the plugin, which makes it easier to deal with issues that differ from my own setups.

When this is finished, there will be plenty of projects that help to get started. If you have some specific questions, feel free to contact me via email or

[2012-07-23 20:07] Fintan commented on #11
cool will do

[2012-07-24 09:38] jzaefferer commented on #4
No new commits since 14 days probably means you still have local stuff?

[2012-07-25 09:02] badabam commented on #4
Any updates on this matter?

[2012-08-29 13:40] jzaefferer commented on #8
The early exit in the almond helper, inside the forEach loop, doesn't really make sense. Nor does the else block at the end of the function. Just call cb/done at the end once.

[2012-08-29 13:42] jzaefferer commented on #4
If I replace my "modules" property with a "name" property, I'm at first running into a bug in the almond helper, where it doesn't bother checking if configClone.modules is defined.

I tried fixing that my checking for `configClone.modules`, then adding a `include` property to `configClone` if no modules property is specified. That way the task finishes, but I end up with `ReferenceError: define is

[2012-09-02 19:30] CaryLandholt opened #12 "Consider using multi-task"
Consider using Grunt's built-in support for [multi-tasks](https://github.com/cowboy/grunt/blob/master/docs/api.md#gruntregistermultitask) which is similar to you Dual Config.

The major difference is that the user is not tied to _js_ or _css_ as names.

For example, the user may want to use the following structure.

[code]

-- nice grunt task, however

[2012-09-10 19:53] asciidisco commented on #12
Hey,
the js/css feature was introduced by @indieisaconcept some time ago.
Maybe you and/or indie would like to get the hands dirty hacking in some multi-task support.
Would be cool, and I don´t have many time for OS projects at the moment.
Currently I´am fixing the open bugs from this repo, feature requests are out of my scope :(

[2012-09-10 19:54] #4 closed, assigned to nobody

[2012-09-10 20:02] asciidisco commented on #4
Hey,
thanks to the project setup you gave me, i (guess) was able to fix the issue.
Will land in npm later this evening.

One thing i noticed in your requirejs setup, you forgot? to set the "name" config property.
From my point of view, this is needed for single file optimization

[2012-09-10 20:06] jzaefferer commented on #4
Yeah, that's what I tried:

Looks like that step is actually necessary...

[2012-09-10 20:14] asciidisco commented on #8
Should be fixed with 0.2.10.

[2012-09-10 20:14] #8 closed, assigned to nobody

[2012-09-10 20:22] asciidisco commented on #4
Version 0.2.10 is now in npm.
Please give it a try ;)

[2012-09-11 09:53] asciidisco opened #13 "Add lodash custom build support"
Add the possibility to include lodashs custom build support to the build process.
That means, start with the dev version of lodash & dismiss everything you don´t need using config options
during the build

[2012-09-11 09:54] asciidisco opened #14 "Add jquery custom build support"
Add the possibility to include jquery custom build support to the build process.
That means, start with the dev version of jquery & dismiss everything you don´t need using config options
during the build. (Works only with jQuery >= 1.8.0)

[2012-09-11 09:56] asciidisco opened #15 "Add hybrid minification"
Use the r.js with ClosureCompiler only, uglifyjs only & then with a combinded (hybrid) minification afterwards.
Check which version is the smallest, dismiss the bigger files & leave the smallest.
Need to add a new config option 'hybrid' or smth.

[2012-09-11 18:40] jperl commented on #11
This would be nice :)

[2012-09-11 19:08] ghost commented on #12
I would like this support as well any updates on multi task support for requirejs?

[2012-09-11 19:35] svnlto opened #16 "almond build and modules config"
trying to build with almond and modules in my config. here's what I get when running my build:

[code]

now If I leave out the modules bit, the task obviously fails...

[2012-09-13 10:42] jzaefferer commented on #4
Works!

[2012-09-13 13:16] asciidisco commented on #4
Nice.

[2012-09-13 13:52] asciidisco commented on #16
Sorry, marked the wrong ticket as closed.
I´am continue working on this one.

[2012-09-13 14:00] asciidisco commented on #16
Could you share some of your project setup,
so that i can reproduce the issue? That would really help.

[2012-09-13 14:21] #11 closed, assigned to nobody

[2012-09-13 14:30] asciidisco commented on #11
I´ve added 3 examples (the ones that can also be found in the @requirejs repo),
this might be enough to get startet. Also on the CI server, these examples will be build & the output
is used to determine that the plugin actually works.

If you need more help, or if you have further questions, please drop me a line on twitter or in the "workingdraft" IRC channel on freenode, I´ll be hanging around t

[2012-09-13 19:39] svnlto commented on #16
sure, let me extract the important bit and get you a gist.

[2012-09-13 19:57] svnlto commented on #16
ok, I think I found out what the issue was, I had almond installed via npm, seems that the task had picked that version up instead of the one you ship.

[2012-09-13 20:00] svnlto commented on #16
but then again, the above error shows that the example in the README for almond is wrong.

[code]

so take the `modules` bit out and it's valid again :)

hope this helps

[2012-09-13 21:09] asciidisco commented on #16
Thx for your pull request.
If you have any other issues, please ping me.

[2012-09-13 21:09] #16 closed, assigned to nobody

[2012-10-07 09:48] pajtai opened #20 "How would you get verbose output?"
Hi,

I was wondering if there was a way to get output that is as verbose as:

[code]

? The above shows which files were uglified and combined, etc.

I guess I could just run the above node command from a custom grunt task, but I like how your module allows app.build.js to be in the grunt init, but the only output I see is:

[code]

Thanks!

[2012-10-09 08:04] jzaefferer opened #21 "Fix version dependencies"
Not sure yet what the actual issue is, but having grunt-requirejs depend on requirejs ">=2.0.x" is a problem, as that allows npm to install pretty much every version, not just patch releases.

Same applies to grunt, which would very much break once 0.4 is out.

I've fixed that here: https://github.com/jzaefferer/grunt-requirejs/commit/8c6e10b964430469121f553b29a9b64f0c47222e

[2012-10-10 01:53] tkellen opened #22 "FYI"
grunt.registerHelper will be depreciated in grunt 0.4.

To see how helpers will be handled in the future (using standard npm require), check out the following links:

https://github.com/gruntjs/grunt-contrib-uglify/blob/master/tasks/uglify.js#L15 https://github.com/gruntjs/grunt-contrib-uglify/blob/master/tasks/lib/min.js

PS: join us in #grunt on freenode if you have any questions!

[2012-10-10 08:49] asciidisco commented on #20
Hi,
sorry, I´ve been a bit busy over the last few days.
Currently there is no support for a 1:1 mapping of the verbose output of r.js.

But I see that this can be very useful in certain sitautions.
Will add that to the next version and notify you, when its out (guess somewhat around next week)...

Regards
Sebastian

[2012-10-10 09:00] asciidisco commented on #21
Thx Jörn,
I fixed the dependencies according to your suggestions.

[2012-10-10 09:00] #21 closed, assigned to nobody

[2012-10-10 11:30] pajtai commented on #20
Thanks Sebastian!

I just noticed that rjs does make a build.txt file with info about which files it combined, but I think its verbose has a little more info than even that.

[2012-10-10 14:19] asciidisco commented on #20
Hey pajtai,

as it turned out, I already added this feature initially :D
So its in! Unfortunatly, you won´t get more information then stored in the build.txt file...

You can specify a log level in your require config like so:

[code]

And get the output by calling:

[code]

or

[code]

Hope that helps you.

Regards

[2012-10-10 14:19] #20 closed, assigned to nobody

[2012-10-10 16:16] pajtai commented on #20
Thanks again

[2012-10-11 20:26] vitch commented on #12
I'd also love to see multi-task support... If no-one else has managed to look into it then I'll try to find some time over the coming weeks...

[2012-10-12 08:36] asciidisco commented on #12
Good news for all of you.
I´ve worked on grunt-requirejs over the past few days & the first commits will land today.
Things I´ve added:
- grunt 0.4.0 compatibility
- multi-task support
- lodash builder support
- jquery builder support
- console output improvements
- hybrid builds (like in the lodash builder - using uglify & closure compiler together for max compression)
- config improvements (enca

[2012-10-12 15:13] ghost commented on #12
- lodash build support is lodash broken up now?
- So this is going to take the new version of jquery and do custom builds? importing only what you need automatically?
- be careful with closure compiler it has issues where it renames arguments to like b and you cant dynamically load stuff in without using exports or some other nasty method closure compiler is a joke compared to uglify.

[2012-10-15 19:56] asciidisco commented on #12
Hey @joshspivey,
a) as of Version 0.7.0 (maybe earlier versions too), lodash comes with its own buildscript. i use this as a foundation for grunt requirejs to hook in & create a customized lodash variant (based on the users configuration of course. automatic detection is a future plan)

b) same goes for jquery. you can reference any jquery version >=1.8.0 & tell grunt requirejs to execute a custom

[2012-10-22 14:20] saunders99999 opened #24 "When will RequireJS 2.1.1 be released in grunt-requirejs?"
Hi,

When will grunt-requirejs support requirejs 2.1.x?  Is this coming with 0.2.14?

I see in the repository release history the latest version is 0.2.13, but I also see when looking at packages.json a reference to requirejs 2.1.x.

From npm, it looks like 0.2.14 is available, but it shows as still depending on requirejs 2.0.x.

{ name: 'grunt-requirejs',
  description: 'Using requirejs and almon

[2012-10-22 14:25] asciidisco commented on #24
Hi, sorry I forgot to update the changelog for the 0.2.14 bugfix release.
Currently I´am working on the 0.3.0 release (the one you currently see in the master branch).

It will include all the following features:

Things I´ve added:

grunt 0.4.0 compatibility
multi-task support
lodash builder support
jquery builder support
console output improvements
hybrid builds (like in the lodash builder - usi

[2012-10-22 17:37] saunders99999 commented on #24
Hi,

Sounds like you are putting in some some decent updates.  Given grunt 0.4.0 is not released, in the interim, would you think with 0.2.14, I could update the packages.json locally and use 2.1.x requirejs, or would you advise against this either for known issues or from too many regressional unknowns?

Thanks again,
Mark

[2012-10-22 17:45] asciidisco commented on #24
Yes, grunt-requirejs will become a code eating, flame throwing monster :D
I think there are only additions & no breaking changes from requirejs 2.0.x to 2.1.x,
so technically it should work if you update the packages.json & fetch the latest version of requirejs.

I never tried it, would love to hear if it works for you.

[2012-10-23 10:06] peter-m opened #25 "Using almond results in “define is not defined” (when using the compiled main.js)"
As already stated in the title: When using the compiled `main.js` a Javascript ReferenceError occurs stating that “define is not defined” - earlier I used to delete all the compiled files and just use the compiled `main-built.js`, but this file isn't generated anymore.

Here are my gruntfile's (relevant) contents:

[code]

I'm not sure whether that's my fault (although this configuration used to w

[2012-10-23 13:56] mlegenhausen commented on #25
I have the same problem.
+1

[2012-10-23 14:32] saunders99999 commented on #24
We are back and forth on upgrading to requirejs 2.1.1.  I manually tweaked the 0.2.14 grunt-requirejs plug in to use requirejs 2.1.1 and it looks like our build output is fine.  I didn't run much regression on the build output yet, but good to know it looks possible to go that route.

I'm going back to patiently waiting ;)
I'll leave at your discretion whether to keep this open til grunt-requirejs

[2012-10-23 20:48] asciidisco commented on #25
@mlegenhausen Could you please share your config too? That would might help dig into that issue.
@peter-m Could you please test if removing the 'wrap: true' config from your project changes the error?
If that doesn´t change the behaviour, could you also please post the contents of your main config file to complete the picture.

Thx, guys for reporting this, I´ll see what I can do.

Regards
Sebasti

[2012-10-24 10:00] mlegenhausen commented on #25
[code]

The almond replace works. But some of the requirejs config parameters are ignored. Cause `removeCombined` and `wrap` are not applied to my code.

I used 0.3.0. Without the almond stuff everything is working as expected.

[2012-10-24 11:18] peter-m commented on #25
Removing `wrap: true` doesn't solve the issue (in fact it doesn't seem to change anything).

Here's my `main.js` file (which serves as my main config file as well):

[code]

[2012-10-24 11:35] asciidisco commented on #25
Okay, I´am trying to reproduce the issue in order to solve it.
Thx for your help.

[2012-10-24 19:13] sindresorhus opened #26 "grunt-contrib"
Hi Sebastian.

You might familiar with [grunt-contrib](https://github.com/gruntjs/grunt-contrib), an officially maintained collection of quality grunt tasks.

We're trying to reduce duplication and I was wondering if you would be willing to combine efforts?

@tkellen created the [grunt-contrib-requirejs](https://github.com/gruntjs/grunt-contrib-requirejs) task which is pretty similar with the exce

[2012-10-25 08:22] asciidisco commented on #26
Yes, I´am using grunt-contrib & also know the grunt-contrib-requirejs task.
I also agree, that the community would benefit from merging the two projects, I hate it when i take a look
at the grunt plugin list & see a million stylus, clean, recess, whatever tasks.

I would like to finish the version 0.3.0 first (should be finished during next week), to squash some bugs.

So, the question thats left

[2012-10-25 08:56] addyosmani commented on #26
Like this idea :)

[2012-10-25 09:08] peol commented on #26
Getting more people involved into this seems like a great idea, though it's always good with diversity. But just glancing through the contrib repo it seems to be nearly identical functionality-wise so +1 for reducing duplicates.

[2012-10-25 09:26] fhemberger commented on #26
@asciidisco I agree, just [go for it!](http://www.youtube.com/watch?v=kbW5sxyu9bU#t=0m11.5s)

[2012-10-25 09:32] asciidisco commented on #26
Okay, we can end the discussion @fhemberger nailed it :dart:

[2012-11-13 01:40] btipling opened #27 "support multi-page as described by require.js docs"
The existing multipage examples do not resemble the multipage layout as explained here:

https://github.com/requirejs/example-multipage

grunt-requirejs should be able to accept an array instead of an object. Otherwise how could you use grunt to simulate running r.js multiple times, each for their own page?

[2012-11-13 01:42] #27 closed, assigned to nobody

[2012-11-13 02:14] btipling opened #28 "Multipage support that doesn't optimize the entire project."
I'm going to build a node.js script that builds my require statements separately and not use this package because these lines:

https://github.com/asciidisco/grunt-requirejs/blob/master/examples/multipage-shim/grunt.js#L21-23

will optimize the entire project, and I only want to generate two built files, one for each page I have. Not create a copy of every JavaScript file and optimize it.

[2012-11-14 00:42] btipling commented on #28
Nevermind figured out how to do this by using different targets.

[2012-11-14 00:42] #28 closed, assigned to nobody

[2012-11-15 14:34] jannehietamaki opened #29 "almond: true & removeCombined: true removes almond.js from node_modules"
Almondify adds node_dependencies/**/almond.js to the requirejs build path, but when removeCombined is turned on, that almond.js is removed.

[2012-11-15 14:38] asciidisco commented on #29
Yap,
currently working on a workaround where I allow r.js to remove almond.js, but copying almond to a temp
directory & referencing that.

[2012-11-16 21:57] btipling commented on #26
Ok well grunt-requirejs works for me and grunt-contrib-requirejs does not so I hope it's just a wholesale replacement of the contrib version. :P

[2012-11-16 21:59] jsoverson commented on #26
Has this been approached again? @asciidisco's support of this task has been really good and I think it would be a great addition to contrib.

[2012-11-17 05:19] tkellen commented on #26
I'd be down for this, but only if we move the RequireJS config into the options key (so we can support standard 0.4 option merging like this: https://gist.github.com/3901177).  Assuming @asciidisco is cool with that, perhaps we can chat about adding him to the grunt team to undertake this?

[2012-11-17 05:26] tkellen commented on #26
Whoops, it's late and I didn't realize this issue was actually _on_ Sebastian's repo.  I just had a look at the code--it's fantastic!  Please consider this an invite to join the team / run the requirejs repo.  I'm on vacation right now, but if you're interested, maybe we could chat on Tuesday (when I get back) about the specifics?

[2012-11-19 07:09] asciidisco commented on #26
Don't say that code is fantastic, it needs some serious cleanup ;)
But, i really would love to move it to the grunt-contrib repo. Currently I'am on the road in conference mode, so we need to reschedule the chat. I'll be back at home on thursday.

[2012-11-19 07:25] tkellen commented on #26
You should see some of the grunt plugins I've seen in the last six months before you say that :)

I'll be around Tuesday.  Feel free to drop me a note with where/when works for you.  My email is tyler@sleekcode.net and you can usually catch me in #grunt on freenode.  We'd love to have you on the team.

[2012-11-19 13:13] sindresorhus commented on #26
I can totally back that up! ;)

I guess that's what you get when you make something easy enough.

:+1:

[2012-11-21 08:41] mlegenhausen commented on #13
+1
Maybe this should be included in a separate grunt plugin?

[2012-11-21 09:59] asciidisco commented on #13
@mlegenhausen
Actually, it is, check https://github.com/asciidisco/grunt-lodashbuilder/
grunt-requirejs uses this to make custom lodash builds.

[2012-11-21 10:02] mlegenhausen commented on #13
Thanks I will give it a try :)

[2012-11-22 10:33] asciidisco opened #31 "Add backbone custom builder support"
Add the possibility to include backbones custom build support to the build process.
That means, start with the dev version of backbone & dismiss everything you don´t need using config options
during the build

[2012-11-26 15:07] saunders99999 commented on #24
Hi, I see you have grunt-requirejs 0.3.0 released that looks like it is compatible with requirejs 2.1.x, very cool.  I'm assuming this can be closed.

Should this work with grunt 0.3.x or the upcoming grunt 0.4.0?  Any other gotchas or should be good to go?

[2012-11-26 15:12] saunders99999 commented on #24
Maybe I jumped the gun, I see 0.3.0 on the release history here...
https://github.com/asciidisco/grunt-requirejs

But npm shows the latest as 0.2.14.  I assume this mean 0.3.0 isn't released yet.

[2012-11-26 16:04] asciidisco commented on #24
No, sorry, it´s not out yet, I´am pushing this project as hard as I can in my spare time & the original plan was to release 0.3.0 three weeks ago :(

Hopefully I can finish it this week.
Btw.: Current version in master is not stable & it would surprise me if it works for you.

Sorry for the delay, I´am really trying to fix all the issues before releasing 0.3.0.

[2012-11-26 18:39] sindresorhus commented on #26
@asciidisco @tkellen Would you guys be able to move this to contrib this week? I would be willing to help out (we need it in Yeoman). Would be nice to have a fully working RequireJS task for when Grunt 0.4 is released :)

[2012-11-26 19:35] asciidisco opened #32 "Add support for specifying an r.js version"
Original request: https://github.com/gruntjs/grunt-contrib-requirejs/issues/4

[2012-11-26 19:35] asciidisco opened #33 "Add experimental support for source maps"
Original request: https://github.com/gruntjs/grunt-contrib-requirejs/issues/3

[2012-11-26 19:45] asciidisco commented on #26
@sindresorhus @tkellen
Sorry guys, I´ve been taken by a lot of paid work & conference related traveling the past few days.
But, I´am working on this right now and (saved myself some time for this)

Plan is:

Today & tomorrow: Fix all open issues
Wednesday: Convert the project over to the grunt-contrib coding guidelines
Thursday: Releasing time :dart:

I´ll be hanging around at the grunt IRC for th

[2012-11-26 19:47] sindresorhus commented on #26
:D

[2012-11-26 20:08] fhemberger commented on #33
Link to documentation section: http://www.requirejs.org/docs/optimization.html#sourcemaps
Seems that you still have to jump through some hoops to get this working (uglify2/closure required)

[2012-11-26 21:33] tkellen commented on #26
Sounds great Sebastian!  Can you submit your PR against the devel branch of grunt-contrib-requirejs?

[2012-11-26 22:21] asciidisco commented on #26
Yep, will do.

[2012-12-01 12:00] zappan opened #34 "grunt-requirejs not updated in npm registry for 2 months?!"
Hi,

What happened to updating npm registry with new versions? latest update is 2 months old https://npmjs.org/package/grunt-requirejs with v0.2.14. What happened with pushing 0.3 to the npm?

[2012-12-03 12:03] asciidisco commented on #34
I updated the module in the npm registry a few minutes ago.
This will be the last plugin release, this plugin will soon be merged with the https://github.com/gruntjs/grunt-contrib-requirejs task.

[2012-12-03 12:03] #34 closed, assigned to asciidisco

[2012-12-03 12:05] asciidisco commented on #33
Sourcemaps are in, if you´re using the lastest requirejs:

Docs:
https://github.com/asciidisco/grunt-requirejs/blob/master/docs/sourcemaps.md

Tests:
https://github.com/asciidisco/grunt-requirejs/blob/master/test/require_test.js#L198-L211

[2012-12-03 12:05] #33 closed, assigned to asciidisco

[2012-12-03 12:05] zappan commented on #34
Thank you!

[2012-12-03 12:09] asciidisco commented on #32
A custom r.js version can now be used:

Docs:
https://github.com/asciidisco/grunt-requirejs/blob/master/docs/customrjs.md

Tests:
https://github.com/asciidisco/grunt-requirejs/blob/master/test/require_test.js#L73-L104

[2012-12-03 12:09] #32 closed, assigned to asciidisco

[2012-12-03 12:15] asciidisco commented on #31
Backbone custom builder support is in:

Docs:
https://github.com/asciidisco/grunt-requirejs/blob/master/docs/customBuilder.md

Tests:
https://github.com/asciidisco/grunt-requirejs/blob/master/test/require_test.js#L106-L121

[2012-12-03 12:15] #31 closed, assigned to asciidisco

[2012-12-03 12:16] asciidisco commented on #14
jQuery custom builder support is in:

Docs:
https://github.com/asciidisco/grunt-requirejs/blob/master/docs/customBuilder.md

Tests:
https://github.com/asciidisco/grunt-requirejs/blob/master/test/require_test.js#L141-L159

[2012-12-03 12:16] #14 closed, assigned to asciidisco

[2012-12-03 12:17] asciidisco commented on #13
Lo-Dash custom builder support is in:

Docs:
https://github.com/asciidisco/grunt-requirejs/blob/master/docs/customBuilder.md

Tests:
https://github.com/asciidisco/grunt-requirejs/blob/master/test/require_test.js#L124-L138

[2012-12-03 12:17] #13 closed, assigned to asciidisco

[2012-12-03 12:18] asciidisco commented on #22
Grunt 0.4.0 compatibility is in.

[2012-12-03 12:18] #22 closed, assigned to asciidisco

[2012-12-03 12:18] asciidisco commented on #12
Version 0.3.0 is out, Multitask-Support is in & tested.

[2012-12-03 12:18] #12 closed, assigned to asciidisco

[2012-12-03 12:20] asciidisco commented on #15
Hybrid build support is in:

Docs:
https://github.com/asciidisco/grunt-requirejs/blob/master/docs/hybridBuilds.md

Tests:
https://github.com/asciidisco/grunt-requirejs/blob/master/test/require_test.js#L213-L222

[2012-12-03 12:20] #15 closed, assigned to asciidisco

[2012-12-03 12:22] asciidisco commented on #29
Bug is solved with v0.3.0,
you can check the test for this here:

https://github.com/asciidisco/grunt-requirejs/blob/master/test/require_test.js#L307-L314

[2012-12-03 12:22] #29 closed, assigned to asciidisco

[2012-12-03 12:27] asciidisco commented on #24
Latest require.js version is in with v0.3.0, which is now available in the npm registry.
If you need a different r.js version to optimize your project, you can now link to a specific requirejs version.

Docs: https://github.com/asciidisco/grunt-requirejs/blob/master/docs/customrjs.md

[2012-12-03 12:27] #24 closed, assigned to asciidisco

[2012-12-03 12:36] asciidisco commented on #25
@mlegenhausen @peter-m
Could you guys please retest with the latest v0.3.0 that landet in the npm registry today?!
If it doesn´t work as expect, I would really appreciate if you could add a stripped down example project, or unit test.

Thank you for your patience & help!

[2012-12-03 12:41] asciidisco commented on #26
Hey guys,

I´am done with all of the tasks I set up myself for the migration.
It would be super cool & helpful if you would take a look at the current codebase, docs and/or tests,
and point out the things, I should change before making this big PR.

Thank you all for your help on this topic.

Btw.: Pull requests are more than welcome :D

//cc @sindresorhus @tkellen @peol @fhemberger @addyosmani @b

[2012-12-03 14:52] tkellen commented on #26
Looking good Sebastian!  Right off, I'm seeing two things that need to be addressed before we merge:

**Testing**
We have a standard testing format that is used across all contrib tasks (erm, except on the RequireJS task, which has not been updated to our current format, way to go me).

Please see the following:
https://github.com/gruntjs/grunt-contrib-sass/tree/master/test
https://github.com/grun

[2012-12-03 15:46] cowboy commented on #26
I'd love to see the existing [grunt-contrib-internal](https://github.com/gruntjs/grunt-contrib-internal/blob/master/tasks/build-contrib.js) `build-contrib` task used to generate the `README.md` file. It contains an overview, options, examples and revision history, and is built from the following files:
- `CHANGELOG` (YAML file, see the one from [grunt-contrib-concat](https://github.com/gruntjs/gru

[2012-12-03 20:57] asciidisco opened #35 "grunt-contrib migration"
Migrate the project to the grunt-contrib coding & documenting guidelines

[2012-12-03 20:58] #35 closed, assigned to asciidisco

[2012-12-03 21:15] asciidisco commented on #26
Thx for the info, will dig a bit deeper tomorrow & see how i can change the current docs & tests to fit the grunt-contrib std.

[2012-12-04 10:04] mlegenhausen commented on #25
When I use this with `removeCombined` my `main` file is removed too. When I disable this then I got `require is not defined`. I can not solve this by adding `wrap: true` to my configuration.

[2012-12-04 15:13] saunders99999 opened #36 "npm issue installing grunt-requirejs 0.3.0"
**When upgrading from grunt-requirejs 2.1.2 to 0.3.0 on windows server 2008 R2, I get errors related to a post install script...**

It looks like there are many new node module dependencies that did install (grunt-backbonebuilder, grunt-jquerybuilder, grunt-lodashbuilder,  gzip-js, q, semver, temp)
-  The directories look ok, if I'm not planning on using Closure, do I need to worry about the below

[2012-12-04 16:09] saunders99999 opened #37 "Error: Missing either a "name", "include" or "modules" option"
Hi,
From a working grunt-requirejs 2.1.2 with Uglify, I'm trying to upgrade to 0.3.0.

**I'm seeing this issue and at least one other is as well**
https://groups.google.com/forum/?fromgroups=#!topic/requirejs/S89uHqWSbHU

From James Burke's reply.
' I really do not know though, best to ask at the grunt-requirejs project.'

Here's my output.
Running "requirejs:appDir" (requirejs) task
Error: Missin

[2012-12-05 08:56] asciidisco commented on #37
Hi,
there are two breaking changes, first of all, grunt-requirejs became a multitask & snd. I´am now going with the grunt 0.4
compatible ´options´ config entry.

You have to change your grunt.js file like this:

[code]

Let me know if that helps.

Regards
Sebastian

[2012-12-05 08:59] asciidisco commented on #36
That shouldn´t be an issue if you´re not using the 'hybrid' minification strategy,
but I have an idea how to ditch the post install script & do this via npm only.

I will keep this issue open until the 0.3.1 release is out.

Regards
Sebastian

[2012-12-05 09:01] asciidisco commented on #25
That sucks,
I have a reference project locally that seems similar to your configuration (besides that i don´t have any cordova stuff in it), i will add this to the examples section soon, maybe we can modify this together to reproduce your error.

Regards
Sebastian

[2012-12-05 09:48] mlegenhausen commented on #25
The Cordova stuff is removed from requirejs, because requirejs and cordova sucks ;) That shouldn't be the problem. When I found the time I will create a project where I can try to reproduce the problem.

[2012-12-05 13:05] asciidisco commented on #25
@mlegenhausen That would be super helpful, I´am maintaining the project in my spare time, so, any help is welcome.
You can also check out the new 'CONTRIBUTING' https://github.com/asciidisco/grunt-requirejs/blob/master/CONTRIBUTING.md document, if you would like to contribute an example project.

Thank you very much!

[2012-12-05 18:48] adambiggs opened #38 "Task won't run anymore on v0.3.0"
Can't seem to get this working anymore after upgrading to v0.3.0. I've gone through the upgrade steps, but when I run the task it seems unable to find the `grunt.util` object:

[code]

I tried stripping my config down to only the very basics:

[code]

I'm on node v0.8.15, grunt v0.4.0a.

[2012-12-05 21:28] asciidisco commented on #38
Oh, that seems like I introduced a new incompatibility with one of the later additions before I released 0.3.0.
I will take care of this tomorrow!

Thx for spotting.

Regards

[2012-12-05 21:35] saunders99999 commented on #37
Hi,
It looks like the config update did the trick.  I still have a side issue, but I think it's unrelated.
I've held off on grunt 0.4.x as I wasn't sure if it was stable yet.  Cool that you're getting ahead...

Much appreciated,
Mark

[2012-12-05 22:06] asciidisco commented on #37
Cool, I´am closing the Ticket.
But, keep me updated about that side issue thing, maybe it is related to the lib upgrade.

Thanks.

[2012-12-05 22:06] #37 closed, assigned to asciidisco

[2012-12-07 12:42] vitch opened #40 "Error messages eaten by 0.3.0"
I have a troublesome requirejs configuration which was causing errors on 0.2.13 (with the base folder replaced by [PROJECT_FOLDER] for brevity):

[code]

I updated to 0.3.0 in the hope of either fixing the issue or getting more helpful error messages but now the config just silently fails:

[code]

I'm guessing this behaviour is unexpected? I've tried to track down where the error has occurred but

[2012-12-07 12:50] asciidisco commented on #40
Okay,
you´re right, the erros message should be displayed. I´ll take care of that as soon as i can.

Btw.: Thanks for your excellent bug report, it would make my life so much easier if everyone comes up with such detailed information ;)

Also, concrete for your problem, could you try and set the `dir` property, to define a seperate output folder for your project & ditch the ´out´ property (not rea

[2012-12-07 13:05] vitch commented on #40
Thanks for such a quick response!

In terms of a problem with grunt-requirejs, I think the issue is only related to the hiding of error messages.

I just tried switching `out` for `dir` but it didn't make any difference.

The root of my problem lies somewhere else - trying to get require to work with two separate folders of source files. I've just thought of a different way to structure my code to

[2012-12-08 21:50] sindresorhus commented on #38
ping :)

[2012-12-10 21:32] tkellen commented on #26
Just checking in to see how things are going.  Any updates Sebastian?

[2012-12-12 01:07] iamchrismiller commented on #26
Just curious.. Is the dev branch the candidate for contrib?

[2012-12-12 14:03] asciidisco commented on #38
Sorry for the delay guys, the error was caused by the grunt-backbonebuilder dependecy, which was not grunt 0.4.x compatible (that was shitty to debug, oh it was...)

Now it is & I´ve tested grunt-requirejs succesfully against grunt 0.3.17 & 0.4.0.

Regards
Sebastian

[2012-12-12 14:03] #38 closed, assigned to asciidisco

[2012-12-12 14:42] sindresorhus commented on #38
Thanks man :)

[2012-12-12 19:05] oportocala commented on #38
Hey,

This is still throwing up the error that @sindresorhus mentioned. I am also using grunt v 0.4.0rc2.

My `Gruntfile.js`

[code]

My `devDependencies`

[code]

The error:

[code]

I'm not sure how npm works, do you need to updated it?
Can I do something manually to get this going before you do?

Thanks!

[2012-12-12 19:11] oportocala commented on #26
:+1:

[2012-12-13 11:34] asciidisco commented on #38
@oportocala Please try again with grunt-requirejs 0.3.1.
There was smth. missing in my last commit to grunt-backbonebuilder which could have caused this.

[2012-12-13 11:35] asciidisco commented on #36
@saunders99999 I´ve updated grunt-lodashbuilder with a slightly safer post-install script that doesn´t rely on downloads from github & instead uses npm. Should be fixed.

[2012-12-13 11:36] asciidisco commented on #40
Thanks to this pull request: https://github.com/asciidisco/grunt-requirejs/pull/41 (which is merged in 0.3.1), this issue should be gone.

[2012-12-13 11:36] #40 closed, assigned to asciidisco

[2012-12-13 11:54] vitch commented on #40
Great - thanks!

On 13 December 2012 11:36, Sebastian Golasch notifications@github.comwrote:

[2012-12-13 14:22] asciidisco commented on #25
Digging deeper into this issue, I found a corresponding post on the requirejs mailinglist:
https://groups.google.com/forum/?fromgroups=#!topic/requirejs/k7-v2VTLEsw

[2012-12-13 16:52] oportocala commented on #38
@asciidisco It works!

Ran `$ npm install grunt-requirejs@0.3.1 --save-dev` and it worked.

Thanks!

[2012-12-14 14:57] asciidisco commented on #25
Good news, I can reproduce the error now. So we´re one step closer to a solution!

[2012-12-14 15:56] asciidisco commented on #25
@peter-m @mlegenhausen
I´ve added two example projects (which are modeled after your configs) in the 'dev' branch:

https://github.com/asciidisco/grunt-requirejs/tree/dev/examples/almond-text-plugin-project
https://github.com/asciidisco/grunt-requirejs/tree/dev/examples/almond-text-plugin-singlefile

They both pass now.
Could you test your projects against the dev branch & verify if they work now?

[2012-12-14 20:24] mlegenhausen commented on #25
It's working! That's great :) Thank you very much. One little enhancement would it be, when you can also remove `require.js` when using the `removeCombined` parameter.

[2012-12-17 10:03] asciidisco commented on #25
@mlegenhausen Puh. Good to hear that. I´am opening another issue for your request & closing this one.

[2012-12-17 10:03] #25 closed, assigned to asciidisco

[2012-12-17 10:03] asciidisco opened #43 "Remove require.js when using the removeCombined parameter & almond true"
Remove require.js when using the removeCombined parameter & almond true

[2012-12-17 12:15] mhluska opened #44 "Compiled build not running"
I recently updated grunt-requirejs via NPM and my compiled JavaScript no longer runs. The main file loads but the callback passed to `define` is not executed. However, everything works fine when I don't compile and just load the modules dynamically. I've created a test project so you can hopefully reproduce the error.

Here's the [compiled file](https://gist.github.com/4317922) found in `build/js`

[2012-12-17 15:42] asciidisco commented on #44
First of all, thanks for your detailed bug description, if everyone would do that, debugging would be so much easier :)
I think I know the problem, but I don´t have much time to adress this today.
I will try to release version 0.3.2 tomorrow which will contain a fix (hopefully) ;)

Thanks for your patience.
Regards
Sebastian

[2012-12-17 17:01] asciidisco opened #45 "almond-text-plugin-project shows no filesize output"
Check why almond-text-plugin-project doesn't show filesize output.

[2012-12-17 17:02] asciidisco opened #46 "Use grunt-contrib-internals for documentation generation"
Use grunt-contrib-internals for documentation generation

[2012-12-17 17:03] asciidisco opened #47 "Document examples"
Add a README file for every example.

[2012-12-17 17:07] asciidisco commented on #26
@iamchrismiller I added a new branch for the migration, it´s called grunt-contrib & the migration preparation will happen there in the next days.

[2012-12-19 19:17] mlegenhausen opened #48 "Don't use cheerio for almondify"
Cause of a bug in the cheerio library (which exists already 6 months... https://github.com/MatthewMueller/cheerio/issues/62) we are unable to use admondify. It would be nice if you could use another library (jsdom) or method for replacing the old script tag. I have looked in your source code and it seems the most elegant way, but parsing the whole dom only for replacing the script tag and getting

[2012-12-24 14:22] asciidisco commented on #48
I switched from jsdom to cheerio, because a lot of windows users had problems installing jsdom because of its python dependencies. I have no plans of switching back, but if someone comes up with a better idea (maybe a RegEx for manipulating the script tag - unfortunately I´am not very at this RegEx stuff), I´am willing to ditch cheerio.

Merry Christmas ;)

[2012-12-25 16:12] mhluska commented on #44
Hi Sebastian,

If I manually insert `require('test')` at the end of `build/js/test.js` everything loads fine. RequireJS actually supports this feature with the [insertRequire option](https://github.com/jrburke/almond#triggering-module-execution-). It doesn't seem to do anything when I use it in my Gruntfile though.

[2013-01-07 23:09] emphaticsunshine opened #49 "Grunt failing on encountering requirejs"
Grunt just fails on after running requirejs without throwing any errors (verbose also). I don't know if it is a bug but any help will be appreciated. I am using 0.3.0 and following require config:

"requirejs": {
      "task": {
        "baseUrl": REQUIRE_ASSETS,
        "dir": REQUIRE_BUILD_DIR,
        "paths": {
          "jquery": "empty:",
          "requireLib": "lib/require-2.0.1"
        }

[2013-01-08 11:41] asciidisco commented on #49
Hi,

please use version 0.3.1, we had a problem in 0.3.0 that the error messages are gone.
If the error still occurs, please check your config against the (pure) current `r.js` tool.
You do some interesting stuff there, I can´t wrap my head around:

Maybe try to avoid the possible points of failue (set `optimize: 'none'`, `removeCombined: false`, etc.)

Thx.

[2013-01-08 19:53] liamks commented on #37
I'm using:

grunt-cli v0.1.6
grunt v0.4.0rc3
grunt-contrib 0.3.0

I've made the above change and I'm still getting the above error

[code]

[2013-01-08 20:18] liamks commented on #37
I've avoided the error by doing the following (I'm not sure if it's a fix):

[code]

I added the name parameter...

[2013-01-08 21:12] emphaticsunshine commented on #49
Thank you for a prompt response. I tried everything. That jQuery was empty because I am loading it from google cdn and it been included as dependency so I don't want it to be included in a build.

Anyways, I removed it and tried all the options mentioned by you and it didn't work for me. So I rolled it back to 0.2.14 and it is working fine for me.

[2013-01-08 21:12] #49 closed, assigned to asciidisco

[2013-01-14 20:32] sindresorhus commented on #26
@asciidisco What's the status on this?

[2013-01-14 20:41] sindresorhus commented on #48
Not sure what you need, but if you need to replace the src of a script tag you could borrow the regex from grunt-usemin: https://github.com/yeoman/grunt-usemin/blob/master/lib/htmlprocessor.js#L172

[2013-01-23 17:05] tkellen commented on #26
Heya Sebastian!  We're really-for-real almost ready to release 0.4.  Any chance we could work on having this replace grunt-contrib-requirejs in the next week or so?

[2013-01-30 13:52] sindresorhus commented on #26
ping

[2013-01-30 14:08] asciidisco commented on #26
Hey,
sorry guys :(

"Life happend" and I had no chance to work on any of my OS projects.
But this will change over the weekend, so expect this to be finished by the beginning of next week.

Btw.:
One day I need to find a company that allows me to work on OS projects on a regular basis :D

Regards
Sebastian

[2013-02-06 17:42] sh3r4rd commented on #37
I'm running into this issue even when I include the name option.  I reinstalled grunt (0.3.17) and grunt-requirejs:

[code]

Gives me this error:

Error: Missing either a "name", "include" or "modules" option
    at Function.createConfig (/Library/WebServer/Documents/gruntproj/node_modules/grunt-requirejs/node_modules/requirejs/bin/r.js:14841:19)

[2013-02-07 06:43] tbranyen opened #51 "Temporarily remove grunt-backbonebuilder and grunt-jquerybuild"
[code]

Is it worth including these tasks even though they aren't Grunt 0.4 compatible and both download a separate copy of Grunt 0.3?

Perhaps temporarily removing them and publishing a version that can be used in the meantime?

[2013-02-08 17:20] sindresorhus commented on #26
Any progress? (no pressure, just wondering)

[2013-02-15 20:16] tkellen opened #54 "Grunt 0.4 Release"
I'm posting this issue to let you know that we will be publishing Grunt 0.4 on Monday, February 18th.

If your plugin is not already Grunt 0.4 compatible, would you please consider updating it? For an overview of what's changed, please see our [migration guide](https://github.com/gruntjs/grunt/wiki/Upgrading-from-0.3-to-0.4).

If you'd like to develop against the final version of Grunt before Mond

[2013-02-15 20:16] tkellen opened #55 "Grunt 0.4 Release"
I'm posting this issue to let you know that we will be publishing Grunt 0.4 on Monday, February 18th.

If your plugin is not already Grunt 0.4 compatible, would you please consider updating it? For an overview of what's changed, please see our [migration guide](https://github.com/gruntjs/grunt/wiki/Upgrading-from-0.3-to-0.4).

If you'd like to develop against the final version of Grunt before Mond

[2013-02-17 13:05] svnlto commented on #44
@asciidisco @mhluska is correct, it's todo with the insertRequire option. Just bumped into the same issue and adding the trigger has fixed it.

[2013-02-19 05:20] eranation commented on #26
Any help needed?

[2013-02-19 08:19] asciidisco commented on #26
@eranation
I would be lying if I say no.
So, if you could grab yourself some issues, that would be super awesome. :)

[2013-02-19 10:28] sQVe commented on #37
I'm having this problem also.

grunt@0.4.0
grunt-requirejs@0.3.1

Using the following in my gruntfile:

[code]

[2013-02-19 12:00] Saturate commented on #37
Same problem here with:
grunt@0.4.0
grunt-requirejs@0.3.1

[code]

[2013-02-19 14:55] sh3r4rd commented on #37
I think the solution is to use the requirejs module maintained by gruntjs: grunt-contrib-requirejs

[2013-02-19 15:00] Saturate commented on #37
Thanks @skbailey. It works for me.

[2013-02-20 15:11] tbassetto commented on #55
Hi @tkellen,

This plugin does more things than your `grunt-contrib-requirejs`, like exposing an option to include almond in the output file. Do you think it is possible to include this functionality in your grunt/requirejs plugin? I am afraid that @asciidisco no longer has time to maintain this project: https://twitter.com/asciidisco/status/303797415453011969 :wink:

[2013-02-20 15:18] tkellen commented on #55
@tbassetto We've actually been talking with @asciidisco about having his task replace ours for some time.  I'm not sure if/when it will happen, but feel free to use it if it solves your problem!

[2013-02-22 22:28] jansepar commented on #37
@skbailey the grunt-contrib-requirejs doesn't have an option to include almond.js in the build process, which I need. Is there a plan to get this working with grunt-require? I currently cannot use grunt 0.4.0...

[2013-02-22 22:31] jansepar commented on #55
It's definitely a bummer that this does not work with 0.4.0. I currently use the almond inclusion feature, which `grunt-contrib-requirejs` does not support. Looks like I will be sticking with 0.4.0rc7 for a little while!

[2013-02-24 12:35] asciidisco commented on #55
I published 0.3.2 today, which should work with 0.4.x.
Thx to @sindresorhus for submitting the patch!

[2013-02-24 12:35] #55 closed, assigned to nobody

[2013-02-24 12:36] #54 closed, assigned to nobody

[2013-02-25 23:34] #48 closed, assigned to asciidisco

[2013-02-25 23:35] asciidisco commented on #48
@mlegenhausen Could you please try with the current master branch.
I think I found a solution...

[2013-02-26 08:04] mlegenhausen commented on #48
Nice :) I will try it out.

[2013-02-26 14:24] mlegenhausen commented on #48
The replacement is working but the minification is broken when using `almond: true`. The files are not combined to one file and when using `removeCombined` even the combined file is removed.

My configuration looks the following:

[code]

[2013-02-26 15:07] asciidisco commented on #48
Yeah, thats some other problem I´am working on right now, thanks for your config, that helps :)
Fortunately I got (roundabout) 2 days to work on the plugin, so there is a chance to get this fixed really soon.

[2013-03-05 13:31] asciidisco commented on #44
Fortunately I have some time to look into this issue today & tomorrow, after a long time where I didn't had any time at all for OS projects. Thanks for your patience & your error descriptions, will try my best to fix it.

[2013-03-12 18:30] asciidisco opened #57 "Warn if src directory equals build target"
To prevent users from wiping out their src project directories, warn if the src dir equals the dest dir. Create a flag to disable the checks, for users that are intentionally targeting the folder.

[2013-03-20 08:34] kaplas opened #59 "replaceRequireScript with almond fails, if the target HTML file has no doctype defined"
When using almond and trying to replace script tags in an HTML file which has no doctype defined user gets greeted with message

[code]

The problem seems to be in the getDoctype function in lib/replace.js. Couldn't the function just return an empty string if document.doctype is null?

[2013-03-20 09:54] asciidisco commented on #59
Good catch.
Would you mind to submit a pull request?

[2013-03-20 09:55] kaplas commented on #59
I can try; I checked previously that you have quite a good contributing guide, so perhaps I can manage it. Be prepared for some newbie fails though ;)

Ie. I haven't submitted many pull requests before, but if you don't mind a lag of couple of days, I can try make one with tests and everything.

[2013-03-20 23:28] gaguirre opened #61 "Build Failing"
Could you check that, please?
Thank you!

[2013-03-21 05:49] thomasloh opened #62 "Cannot find module 'grunt-jquerybuilder'"
Just today ran into this. I'm on 0.3.3, having similar issue on 0.3.2 as well

➜  ui git:(dev) ✗ grunt requirejs
Running "requirejs:compile" (requirejs) task

but 'grunt-jquerybuilder' seems to be installed

➜  ui git:(dev) ✗ npm list grunt-jquerybuilder
trapit-web-ui@0.0.1
└─┬ grunt-requirejs@0.3.2
  └── grunt-jquerybuilder@0.1.3

[2013-03-21 09:03] asciidisco commented on #62
Hey, sorry for that :(
I updated grunt-jquerybuilder in the npm to version 0.1.3 18 hours ago & pushed the changes to git right now.
If you could recheck if the bug is still there, that would be cool.

[2013-03-21 09:37] asciidisco commented on #62
So, I found some minutes to test this on my own, if you use version 0.3.4, everything should be okay.

[2013-03-21 09:37] asciidisco commented on #61
Build is back to normal.

[2013-03-21 09:37] #61 closed, assigned to asciidisco

[2013-03-21 19:50] gaguirre commented on #61
Thanks!

[2013-03-22 05:31] monzou commented on #36
Hi, @asciidisco.
I got a same problem to install grunt-requirejs on Windows.

My environments are following:
- os  : Windows 7 (x64)
- node : v0.10.0
- npm : 1.2.14
- bower : 0.8.5

and this is the package.json.

[code]

When I run `$ npm install`, then I got following error logs.

[code]

I have a same `package.json` and I can install grunt-requirejs on Mac.
But I can't install it on Windows ...

[2013-03-22 09:55] asciidisco commented on #36
Yarp :(
I can reproduce this on a Linux Machine that's behind a company firewall.
Weird thing, but at least I have point where I can start debugging.

I will open a ticket in grunt-lodashbuilder and link it.

[2013-03-28 15:30] ptrwllrt commented on #36
We've probably encountered a similiar issue on a linux machine.

With grunt-requirejs in the dependency list it throws this http://paste.ubuntu.com/5655391/
When removing "grunt-requirejs", `npm install` works as expected.

How can we help you debug that thing?

package.json

[code]

nodejs: v0.10.0
npm: v1.2.14

Notes:
Somehow there is no npm-deblog log, don't know if this is connected.
We are do

[2013-03-29 15:26] #59 closed, assigned to asciidisco

[2013-04-01 08:20] fizerkhan opened #65 "error in npm installing "grunt-requirejs": "~0.3.1""
grunt-lodashbuilder@0.1.7 postinstall /root/workspace/myproject/node_modules/grunt-requirejs/node_modules/grunt-lodashbuilder

module.js:340
    throw err;
          ^
Error: Cannot find module '../node_modules/lodash/vendor/tar/tar.js'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:362:17)
    at require

[2013-04-03 13:23] monzou commented on #62
@asciidisco

I got a same error (Cannot find module 'grunt-jquerybuilder') w/ grunt-requirejs 0.3.5.

[code]

seems broken by following dependencies.

[code]

My environments are following:
- Windows 7
- node.js 0.10.0
- grunt-cli 0.1.6
- grunt 0.4.1

Do you have any idea ?

[2013-04-03 15:34] thomasloh commented on #62
thanks @asciidisco  :+1:

[2013-04-07 17:51] sindresorhus commented on #26
ping

[2013-04-07 18:26] sindresorhus commented on #51
Remove them for now. grunt-requirejs is currently consuming 75MB!

[2013-04-08 13:14] paulirish commented on #51
:+1:

[2013-04-08 16:43] polarity opened #66 "use the symlinked virtual path instead of systems real path"
when im trying to build an app with dependencies linked relative out of an symlinked directory, r.js uses the current absolute system path instead of the virtual path.

Folder Structure:

[code]

building out of "/web/www_app2/webroot/" with a path set to an relative upper folder like "../lib/" wont work, because "grunt-requirejs" or "r.js" resolve the current dir as a absolute system path.

"../"

[2013-04-11 13:28] trodrigues opened #67 "Comments go missing when replacing script tag"
Following up from the discussion on Twitter, here's a better description of the problem and what I've found out about it.

In this specific case, the HTML file has something like this:

[code]

After passing through grunt-requirejs with the replaceRequireScript option turned on, we end up with the following:

[code]

After having a look through the code and doing some debugging, I found what the c

[2013-04-23 16:14] svnlto commented on #26
ping

[2013-04-27 10:36] stefanpearson opened #68 "Can't find variable: define"
The optimiser runs and concats all of my defined modules, with almond. However, nothing runs on the front-end because `define` is not available.

Here is my grunt config:

[code]

However, almond is wrapped in an anonymous function without actually making it available to the global scope. I'm not quire sure what the `define('almond'...` bit is doing?

[code]

Adding `wrap: true` just wraps the who

[2013-04-29 14:19] xzyfer commented on #36
I recall bower was running into issue with git:// urls when running behind a firewall. They change git:// urls to https:// on the fly to get around it. Could be related.

[2013-04-30 17:59] jdhom commented on #36
I am getting same error when installing grunt-requirejs
os: win7 x64
nodejs: v0.10.2
npm: 1.2.15

I couldn't delete the node_modules directory. When I delete node_modules from the gui I got a warning about file names being too long to move to the trash can. A clue?

My working directory length was:
C:\src\eg\XX-TODOMVC\build

Error snippet below:

[code]

Error when running the suggested alternati

[2013-05-02 23:42] jaspervalero commented on #37
Same using grunt-contrib-requirejs with the name of the module set worked for me.

[2013-05-04 18:21] sindresorhus commented on #51
ping

[2013-05-04 18:21] sindresorhus commented on #26
ping

[2013-05-05 16:24] schickling commented on #36
Same here!

OS: OSX
NPM: 1.2.14
Node: v0.10.0

[2013-05-07 21:42] asciidisco commented on #68
Does it work when you do not use almond and instead just use require + data-main in your build output?

[2013-05-12 12:52] tkellen commented on #26
Please close this issue.  I'm going to stick with the simple wrapper task for contrib.  I love the features this task provides but it feels like about 30 tasks crammed into one and I can't take on the support load for it.  Thanks guys!

[2013-05-12 13:30] #26 closed, assigned to asciidisco

[2013-05-22 14:46] alexstrat commented on #65
Any update on this ? It's very annoying !

[2013-05-22 14:47] alexstrat commented on #65
~~Seems like `grunt-lodashbuilder` is not maintained anymore and we have to switch to https://github.com/lodash/grunt-lodash~~
My bad, we are using the right one -> https://github.com/lodash/grunt-lodash/blob/master/package.json#L2

[2013-05-22 15:06] asciidisco commented on #65
Yep. Grunt lodash builder moved, I'm cleaning the old repo & referencing the new one in the readme soon.
According to grunt-requirejs... ... ...if someone is willing (and does have more time, like I do) to fix things, I'll
add her/him as maintainer instantly.

[2013-05-22 16:23] alexstrat commented on #65
@asciidisco From the few investigation I did, I guess it's related to lodash/grunt-lodash#1 Can you confirm ? Have you an idea on why it's failing and how to solve it ?

[2013-05-23 16:05] alphanull opened #70 "Does not work with closure compiler"
Error: Error: optimizer with name of "closure" not found for this environment
- this is all what I get. Specified optimize: "closure" in my config.

[2013-05-28 05:53] asgeo1 opened #71 "Error when trying to optimise CSS"
I'm getting an error when I try to use grunt-requirejs to optimise my CSS. I have this in my Gruntfile.js:

[code]

When I run the build command I get an error:

[code]

I've struggled to find examples of people using grunt-requirejs to optimise their CSS, so I'm not even sure if I have used the options correctly.

Any ideas?

grunt-cli v0.1.6
grunt v0.4.0rc7
grunt-requirejs ~0.3.2

[2013-05-28 06:29] asgeo1 commented on #71
Never mind, I worked it out.

The silly `useminPrepare` task that ships with Yeoman stuffs around with the grunt-requirejs configuration. Kind of annoying, esp. since the point of me wanting to use grunt-requirejs was because I didn't like how `usemin` worked to begin with.

[2013-05-28 06:29] #71 closed, assigned to nobody

[2013-05-28 14:56] paullryan commented on #65
I was able to work around this temporarily, while we wait for the lodash rewrite, by first backing down the lodashbuilder install to 0.1.6 `npm install grunt-lodashbuilder@0.1.6 --save-dev` and then installing grunt-requirejs.

[2013-05-31 02:58] hh54188 opened #72 "Can't find the dir value"
Here is my project folder structure：

[code]

my build config is in the `Gruntfile.js`

[code]

but when I run it, the terminal tell me wrong:

[code]

however I have already set the dir value, so what's wrong with my code?

[2013-05-31 06:30] #72 closed, assigned to nobody

[2013-06-13 23:22] dalgard commented on #67
+!

This is a problem for me, too. Need those IE conditional comments. Any work-arounds so far?

[2013-06-28 11:44] svnlto commented on #46
@asciidisco hey, is this the only task that's left to make it 0.4 compatible? I'm asking because I've got a number of projects that rely on this plugin an they're all stuck on 0.3. Anything I can give you a hand with?

[2013-06-28 11:49] asciidisco commented on #46
@svnlto Hey, I use the current npm version with 0.4, without any problems.
This task was originally created in favor to merge this & the grunt-contrib-requirejs plugin.
That will never happen, because I don't have enough time to do the migration properly & the grunt-contrib team
will keep their plugin clean (and I +1 that).

Will close that for now. If you have any problems (or question) on using

[2013-06-28 11:49] #46 closed, assigned to asciidisco

[2013-06-28 11:50] svnlto commented on #46
@asciidisco yes, I do have some questions. Could you gist a copy of a config object that makes use of almond?

[2013-06-28 11:51] asciidisco commented on #46
Have you seen the part of the docs?
https://github.com/asciidisco/grunt-requirejs/blob/master/docs/almondIntegration.md

[2013-06-28 11:53] svnlto commented on #46
ah, obviously not :expressionless:

will give it a go.

Thanks!

[2013-07-10 02:52] isimmons commented on #36
Same issue here

OS: Windows 7 64bit
NPM: 1.2.25
Node: v0.10.10

running yeoman generator-backbone but seems to be the same issue

[2013-07-10 03:18] isimmons commented on #36
Ok just ran it again (about the 5th time) and it worked. No changes, nothing updated but it worked.

[code]

[2013-07-11 00:14] isimmons commented on #36
@asciidisco
Trying again today and it's failing. Can you just provide the url to direct downloads so I can download and extract them manually? Do I just need to install uglifyjs2 to this directory or is it a specific version?

[code]

Thanks

[2013-07-22 21:25] btipling commented on #26
This > the contrib version.

[2013-07-31 14:13] PunkChameleon commented on #37
Having the same issue with the same config:

[code]

Am I doing something wrong, is there an error with the module, or does this have to with the require setup?

[2013-08-31 19:44] joneshf opened #73 "Cannot install with npm"
The command `npm install grunt-requirejs` fails when it tries to install.  The problem appears to come from `grunt-lodashbuilder`.  It is expecting `lodash` to have a vendor file for `tar`.  But with lodash/lodash@fb041967171dd849f8ad057566c0c9ddae267824, `tar` is gone.  Seems like it'd be easy enough to just add tar as a dependency for `grunt-lodashbuilder` and change whatever lines pointed to th

[2013-09-02 19:56] aaronj1335 commented on #73
i'm having this issue as well.

[2013-09-02 21:19] aaronj1335 commented on #73
@asciidisco would you be open to PR's that just remove the lodash functionality until a fix is in place? the problem is that projects that don't need lodash support are still hamstrung by this failure.

[2013-09-03 12:53] okonet commented on #73
Is there any quick fix for that?

[2013-09-03 13:04] aaronj1335 commented on #73
@okonet we depend on grunt-requirejs at my company to do our builds, and we've got a release at the end of the week, so our quickfix was to [fork the repo](https://github.com/aaronj1335/grunt-requirejs) and [strip the lodash support](https://github.com/aaronj1335/grunt-requirejs/commit/107b2b511d50fb740b5b51704c8a7b502a1d1d6d), and then reference the github fork instead of the npm package in our a

[2013-09-03 14:07] asciidisco commented on #73
@aaronj1335 Could you please patch in your solution, I added you as a contributor already.
@phated Already offered help with this issue to get the support back in into the future.

I´m so sorry that I do not have time to take care of that myself, really, I am :(

[2013-09-03 14:26] aaronj1335 commented on #73
@asciidisco no worries, we've all been there, and we've certainly enjoyed the benefits of your work on grunt-requirejs thus far :smile:

i'll work on getting this in and released over the course of this week, my only hesitation is that it looked like even after i commented out the lodash test there was still another failure, so i'll figure that out before merging anything.

[2013-09-03 16:06] fizerkhan commented on #65
@paullryan You have to change  "grunt-requirejs": "_", to  "grunt-contrib-requirejs": "_".

[2013-09-03 20:15] phated commented on #73
looks like the best option is to just remove the builder config options and do a bump.  The way that grunt-lodash works isn't the same as grunt-lodashbuider.

[2013-09-03 21:54] phated commented on #73
Just publish a new version, 0.4.0

Please update to grunt-requirejs@0.4.0

Also note, the custom builders were removed, as were hybrid builds.

[2013-09-03 21:54] #73 closed, assigned to nobody

[2013-09-03 21:55] phated commented on #70
Just published a new version, 0.4.0

Please install grunt-requirejs@0.4.0

Note: hybrid builds have been removed.

[2013-09-03 21:55] #70 closed, assigned to nobody

[2013-09-03 21:57] phated commented on #65
Just publish a new version, 0.4.0

Please update to grunt-requirejs@0.4.0

Also note, the custom builders were removed, as were hybrid builds.

[2013-09-03 21:57] #65 closed, assigned to asciidisco

[2013-09-03 21:58] phated commented on #36
Just publish a new version, 0.4.0

Please update to grunt-requirejs@0.4.0

Also note, the custom builders were removed, as were hybrid builds.

[2013-09-03 21:58] #36 closed, assigned to asciidisco

[2013-09-03 21:58] phated commented on #51
Just publish a new version, 0.4.0

Please update to grunt-requirejs@0.4.0

Also note, the custom builders were removed, as were hybrid builds.

[2013-09-03 21:58] #51 closed, assigned to asciidisco

[2013-09-03 21:59] phated commented on #62
Just publish a new version, 0.4.0

Please update to grunt-requirejs@0.4.0

Also note, the custom builders were removed, as were hybrid builds.

[2013-09-03 21:59] #62 closed, assigned to asciidisco

[2013-09-03 22:12] phated commented on #45
Removed this example

[2013-09-03 22:12] #45 closed, assigned to asciidisco

[2013-09-04 09:08] okonet commented on #73
@aaronj1335 thanks! I've managed it the same way.

[2013-09-04 18:53] anacronw commented on #65
@phated just for reference in the future.

I ran into this problem as well.  For those of us who use the tilde operator (or other similar ranges), this would not have been picked up from 0.3.x to 0.4.0.

I can confirm, however, that setting my dependency to 0.4.0 worked for me.

[2013-09-04 19:53] phated commented on #65
Yes, that is how semver works.  The API was changed, so the minor bump had to happen.  People need to update.

[2013-09-04 23:55] joneshf commented on #73
Thanks everyone.  Somewhere along the way it seemed to fix 0.3.5 aswell.

[2013-09-05 08:29] MathieuLoutre commented on #73
Lodash 1.3.1 has been republished (again), it may have fixed it.

[2013-09-12 17:57] justinabrahms opened #77 "Errors installing due to bad grunt-lodashbuilder dependency"
grunt-lodashbuilder is deprecated (https://github.com/asciidisco/grunt-lodashbuilder) but you're depending on it. It seems it has lodash pegged to `latest` as opposed to a version. lodash has evolved out from under it and no longer ships with vendor/tar/tar.js which is required by it's post-install hook.

This repo should update their dependency to use the replacement module https://github.com/lod

[2013-09-12 18:21] MathieuLoutre commented on #77
Version 0.4.0 targets this problem (see #73 and [https://github.com/lodash/lodash/issues/338](https://github.com/lodash/lodash/issues/338)). It also removes the hybrid builds in order to fix it.

Lodash isn't included anymore. If that's something you'd like to see, I'm sure any help in integrating `grunt-lodash` will be appreciated.

[2013-09-12 18:39] phated commented on #77
@MathieuLoutre is correct, we have removed the builders and hybrid minification, as those have caused many problems.  Also, the builders don't seem to belong in this module.

Please update to 0.4.0.

[2013-09-12 18:39] #77 closed, assigned to nobody

[2013-10-14 17:24] mgenev commented on #37
I'm having this error too. What does name even refer to here? Where are the docs for this?

[2013-10-15 09:08] Saturate commented on #37
@mgenev this plugin is outdated, you should use https://github.com/gruntjs/grunt-contrib-requirejs.

[2013-10-15 17:09] jansepar commented on #37
@Saturate I don't think it is. There was a merge for a bug fix 5 days ago... I believe there was talk of merging the who plugins but no progress has been made. I personally use this one over the one you posted because of the almond integration.

[2013-10-15 18:18] phated commented on #37
@jansepar it's not maintained, but it isn't reliably maintained.

[2013-10-16 08:19] Saturate commented on #37
@jansepar you can use almond with it, look here https://github.com/gruntjs/grunt-contrib-requirejs/pull/36

[2013-10-16 08:35] jansepar commented on #37
@Saturate ah, interesting. You can use almond with grunt-contrib-require quite easily. I agree with the end of that thread - it should be documented :)

[2013-10-16 09:28] Saturate commented on #37
@jansepar I agree, someone could make a pull-request for that quite fast. That someone could be you :-)

[2013-10-16 09:55] andrey-buligin commented on #67
Did anyone found a solution for this problem?

[2013-10-16 22:51] starangelam opened #78 "requirejs ignoring my mainConfigFile"
## Project Intro

My project is a single page storefront. The project has multiple modules, and each module contains a set of controller.js, view.js and model.js files, as well as a template.html file. And uses requirejs to manage dependencies.
## Problem Statement

I want to use mainConfigFile to provide paths to reference modules in grunt-requirejs.
Part of my mainConfigFile's require.config is

[2013-10-24 00:07] anacronw opened #80 "Your library is GPLv2!!"
It is unfortunate...but since you have a dependency on gzip-js (which is GPL license), then you are effectively GPL and not MIT.  It is not a copy left license.

Specifically, gzip-js has a dependency on deflate-js which itself GPLv2.

Please consider changing the dependency.

[2013-10-24 16:06] bencevans commented on #78
@starangelam had any luck with this issue since you filed it?

[2013-10-24 16:15] starangelam commented on #78
@bencevans No, unfortunately. I posted in stackOverflow as well. But no insight offered yet. http://stackoverflow.com/questions/19415369/grunt-requirejs-ignores-paths-from-my-mainconfigfile

[2013-10-24 16:20] bencevans commented on #78
@starangelam That's a shame, I'm having a look around for working examples. This one seems to be using the mainConfigFile ok... https://github.com/neoziro/bootstart

[2013-10-24 16:41] starangelam commented on #78
@bencevans I think I should clarify that this gruntFile was working when I had this setup for mainConfigFile:

**main.js**

[code]

[2013-10-30 10:04] asciidisco commented on #80
Thank you very much, i wasn't aware of that.
I will look into alternatives.

[2013-10-30 10:16] asciidisco commented on #68
No response. Closing.

[2013-10-30 10:16] #68 closed, assigned to asciidisco

[2013-11-07 14:54] shapeshifta78 opened #82 "Requirejs optimizer ignores locale setting"
Hi there, been searching for hours and I could not find a solution.

Without optimizing my project everything works as intended with a locale setting inside requirejs config with the i18n plugin like this:

[code]

When I try to do the same using the optimizer with grunt-requirejs, the correct locale isn't being set and falls back to the language defined as root which in my case is english.
I'm am

[2013-12-05 10:31] pscheit commented on #65
when updating to grunt-requirejs@0.4.0 remove the grunt-lodash builder version constraint (if you worked around previously)

[2013-12-09 12:41] raldred opened #85 "Almond in output does not load almond"
Hey,
I've added almond: true to my config so my output gets almond instead of having to load requirejs in production.

Here's my config:

[code]

My build completes, but almond is not injected anywhere in the built output

[2013-12-09 13:43] raldred commented on #85
Ignore me, I was still using the grunt-contrib-requrejs module, oops.

[2013-12-09 13:43] #85 closed, assigned to nobody

[2013-12-15 19:37] someok opened #86 "Throw Error: Uncaught SyntaxError: Unexpected token }"
hi:

This plugin compile success, but when I run it at html it throw a error at console:

[2013-12-15 19:45] someok commented on #86
Upate:

It's ok when use optimize: 'none'. uglify and uglify2 are all have same problem

[2013-12-18 20:07] quocble commented on #37
http://stackoverflow.com/questions/17890927/using-require-js-and-grunt-js-error-missing-either-a-name-include-ormodu

Adding "name" to option worked.

[2014-01-15 13:38] asciidisco commented on #86
So it is an uglify/uglify2 issue if I´m getting this right?!
Did you file a bug there, would like to reference it for documentation reasons...

[2014-01-15 13:38] #86 closed, assigned to asciidisco

[2014-01-17 00:13] aelaguiz opened #87 ""Module ID almond has a source path that is the same as the output path""
Error: Error: Module ID 'almond' has a source path that is same as output path: /Users/aelaguiz/workspace/cratejoy/node_modules/grunt-requirejs/node_modules/almond/almond.j

[code]

[2014-01-17 00:54] aelaguiz commented on #87
Looks like this commit on r.js broke it:

014dd9da

[code]

[2014-01-17 18:34] asciidisco commented on #87
Thanks for heads up.
I do have a lot on my schedule atm., I will try to analyse the issue soon; but it might take some time until a fix could be ready. I´ll notice you when I found something.

[2014-01-17 21:52] aelaguiz commented on #87
Just setting the version of r.js to a couple versions back fixed it. Works in the short term for me.

[2014-01-28 18:31] gaearon commented on #70
@phated

I have the same problem. I understand I probably need to put closure compiler somewhere in PATH, but no idea how to configure it to work with `grunt-requirejs`.

As @alphanull said, `optimize: 'closure'` only gives this error.

[2014-01-29 10:55] asciidisco commented on #70
@gaearon We got rid of that. Caused too many troubles. Also, `r.js` only supports that (correct me if I´m wrong) if you´re in a rhino environment & because we are `node` only, we stick with uglify.

If you really wan't to use Closure Compiler, I recommend to run the task with no minification & apply a task such as [grunt-closure-compiler](https://github.com/gmarty/grunt-closure-compiler) to the op

[2014-01-29 10:57] gaearon commented on #70
@asciidisco Thank you a lot for answering! It would be cool to add this to README. Porting a project to RequireJS and figuring out all the steps to make it part of the build workflow can be intimidating, and it's good to know beforehand if you can't use some of the options out of the box.

[2014-01-29 11:30] asciidisco commented on #70
@gaearon Good hint. Added a note about that in the README.

[2014-02-26 10:43] nitinhayaran commented on #67
+1

[2014-03-02 19:08] asciidisco commented on #67
Fixed in 0.4.1. Huge thanks to @nitinhayaran for sending in a [PR](https://github.com/asciidisco/grunt-requirejs/pull/90)

[2014-03-02 19:08] #67 closed, assigned to asciidisco

[2014-03-03 10:57] Darksoulsong commented on #87
I've got the same issue and things worked out when I changed the modules names to  the alias given on the path config, rather than the module path, for example:

[code]

... instead of:

[code]

The downside is that everything must have an alias to actually work.

[2014-03-17 20:46] Rainbowlemon opened #92 "Can't get replaceRequireScript working"
I'm attempting to insert my pkg.version into the modulePath (to avoid caching), but the package name just keeps defaulting to the 'data-main' of the original script tag.

This code worked before (about 2 months ago), but has broken since I last tried it, I assume due to 78a3ec56506cdcfe30588a303b07d5f104562cf6 - it looks like 'file.modulePath' isn't returning anything (line 42 of replace.js).

Odd

[2014-03-27 13:04] gaborbernat opened #93 "Error: ENOENT, no such file or directory 'empty:'"
[code]

Any ideas why? The buildinfo is loaded as a text module at runtime, no need to add it at build time.

[2014-03-30 21:42] asciidisco commented on #93
Yep,
the module doesn't know that it should treat the `empty:` value in a special way, instead it tries to load a file called 'empty:'. Don't know if I have time to fix that, but offer my help if you want to give a try yourself & send in a PR.

[2014-03-30 21:50] asciidisco commented on #92
Thanks for the detailed report. Do you think you could be coming up with a PR & in case you're not able to, at least a failing unit test so that someone else is able to tackle the issue?!

Thanks.

[2014-04-21 02:26] sytelus commented on #92
+1. I'd put exact same config after a lot of research and it finally worked two months ago. Not anymore...

Adding @nitinhayaran to the thread who authored above change.

[2014-04-21 08:04] nitinhayaran commented on #92
Can someone please confirm if the issue persists in current master.
There was some issue with use of modulePath in https://github.com/asciidisco/grunt-requirejs/commit/78a3ec56506cdcfe30588a303b07d5f104562cf6 but that was fixed in https://github.com/asciidisco/grunt-requirejs/commit/940e41d5fdb9bee9b97c49b7c47b7ff9996e0431

[2014-04-22 21:38] Rainbowlemon commented on #92
This issue seems to have been fixed by ec2691fede14ebc82a75a3f021806629527da23c

[2014-04-25 08:09] SerzN1 opened #96 "mainConfigFile ignored"
all from your example

<pre>
requirejs: {
  compile: {
    options: {
        baseUrl: "<%= frontendNewFolder %>/js/",
        out: "<%= frontendNewFolder %>/js/dist/App.js",
        mainConfigFile: "<%= frontendNewFolder %>/js/build.config.js"
    }
  }
}

Running "requirejs:compile" (requirejs) task
{ [Error: Error: Missing either a "name", "include" or "modules" option
    at Function.build.cre

[2014-04-25 08:11] SerzN1 commented on #96
if i copy all from config file to grunt task - it's working!

[2014-04-25 19:10] asciidisco commented on #96
Normally, this should work :/
Could you post the complete contents of your `build.config.js` please, I have a feeling in my gut, that the error could be in there.
Also, it would be interesting to see if the default `r.js` optimiser is able to do the build (without grunt), could you please try that?

Thanks.

[2014-04-25 21:27] is-already-taken commented on #78
I had the same project setup and error and found the cause.

r.js won't recognize RequireJS configs in the file referenced at `mainConfigFile` when the config object is **not** passed as JSON object, because it's passed as previously declared variable, for example.

I've created a patch (actually two). I could provide diffs to fix r.js. I'm currently trying to build and write tests for r.js to inc

[2014-04-25 21:30] asciidisco commented on #78
@is-already-taken  :+1:

[2014-04-27 11:02] is-already-taken commented on #78
Uh. It's more complicated contributing to r.js than I thought.

Tests of the latest release are failing ony my system. Unable to post proposals on the mailing list (post deleted?). Required to sign a [CLA](http://requirejs.org/docs/contributing.html) for more than two changed lines of code? (I know: maybe even 5 or 10 lines might not require a CLA, but it looks quite bureaucratic).

The only worka

[2014-04-28 07:19] SerzN1 commented on #96
Hi.
Yes, r.js build success.

biuld.config.js

<pre>
({
    baseUrl : "../js",
    paths: {
        'App'                   : 'App',
        'requireLib'            : 'vendor/require',
        'almond'                : 'vendor/almond',
        'curl'                  : 'vendor/curl',
        'window'                : 'stub/window',
        'jquery'                : 'vendor/jquery-1.10.2.min',

[2014-05-13 11:17] asciidisco commented on #96
Phew.
I will try to reproduce it, but can't guarantee anything. Could also take some time...

[2014-05-20 13:15] sudodoki opened #97 "github pages are broken"
Due to MIME type change for js served directly from github, it isn't working at http://asciidisco.github.io/grunt-requirejs/

[2014-05-22 18:18] asciidisco commented on #97
Thanks for reporting. I removed the link for now, as this was not more then a differently styled version of the contents from the README.

[2014-06-03 21:49] davidbiehl opened #98 "shim configurations are being ignored during optimization"
I have a sneaky suspicion that shims are being ignored during optimization. See [this question on Stack Overflow](http://stackoverflow.com/questions/24025475/handlebars-not-loading-after-require-js-optimization-with-grunt-requirejs) for more details.

In a nutshell, I'm using Handlebars, which requires the shim exports in order to work correctly with RequireJS. This works fine in development, but

[2014-06-03 22:08] davidbiehl commented on #98
Nevermind, I had to set `wrapShim: true` in the build configuration. Maybe this will help someone else out in the future.

[2014-06-03 22:08] #98 closed, assigned to nobody

[2014-07-23 17:20] msrafi opened #100 "HTML5 - Boiler Plate conditional comments are not preserved"
I am using the r.js through grunt.
"replaceRequireScript" seems to remove all the HTML5 Boiler plate conditional comments.

[2014-08-13 20:53] asciidisco commented on #100
Are you using the latest version? This should be fixed since [this](https://github.com/asciidisco/grunt-requirejs/issues/67) was pulled in

[2014-08-14 00:53] Blasz commented on #96
Explanation: https://github.com/gruntjs/grunt-contrib-requirejs/issues/41#issuecomment-52129662

[2014-08-25 19:03] michaelcmundo opened #101 "Grunt build that will concat and not minified?"
Hi. I always got some error when loading my page that involves with jquery datatable after the grunt build. It works fine before the build and it's hard to debug when it's minified. I'm not sure where's the issue and it's kind of the 3rd part plugin (datatable) that may caused the issue.

But I don't think I can resolve the issue so I think if there's a way to do grunt build with those requirejs a

[2014-08-26 07:57] asciidisco commented on #101
Add `optimize: none` to your requirejs config. That should do the trick.

[2014-08-26 20:25] michaelcmundo commented on #101
Hey Thanks. It works now. This is great. I love I can package all the js and even html into one main js now.

[2014-08-26 20:25] #101 closed, assigned to asciidisco

[2014-08-27 14:08] michaelcmundo opened #102 "After build - order of loading plugin.js and main.js may cause issue?"
Hi. This is what I've in my index.html and the dist files works fine in the browser in most cases. I noticed the plugins.js will load first before the main.js

In some case(I have some redirect/reload page again for an condition) , it will load the main.js before the plugins.js and that's where the issue comes in then it will be a blank page with no error.

What I've now which have the issue

[cod

[2014-08-27 14:15] asciidisco commented on #102
You can not bundle it that way. If you still rely on requirejs, you have to keep it as a seperate file, that must be loaded before the file that depends on it.

If you do not need requirejs in production, you might want to use almond: https://github.com/asciidisco/grunt-requirejs/blob/master/docs/almondIntegration.md

[2014-08-27 15:07] michaelcmundo commented on #102
Hi. I don't get what you mean by not need requirejs in production? My main.js uses the require line and all other js files uses the define line so I need it right after the build? Or you mean after the build the require.js is not needed as all files now included into 1 file? What exactly is almond? Thanks.

[2014-08-27 15:21] asciidisco commented on #102
A common pattern is to use requirejs only during the development time, so that files are split up which is way more convenient. In that case, you concatenate all your files into 1 for production & do not need requirejs in order to load other files at runtime in your final build.

Almond is a "replacement" for requirejs, that just mocks the API without having the functionality to fetch anything. Th

[2014-08-27 19:11] michaelcmundo commented on #102
Hi. Thanks for explaining to me. I was trying to use almond by using the following setting.

[code]

Then I also removed those funny comment and just have these two

<script src="bower_components/requirejs/require.js"></script>

<script src="scripts/main.js"></script>

But then the build won't finished as it has this error and I think it's due to the gruntfile.js I got from yeoman. It seems it's l

[2014-08-28 06:52] asciidisco commented on #102
Mhh, hard to tell without knowing the contents of your Gruntfile, if you paste it over in Gist or so & link it, I might be able to assist.

[2014-08-28 14:01] michaelcmundo commented on #102
Hey thanks for your help and prompt respond. Here's my gruntfile. Do you see anything wrong?

module.exports = function (grunt) {

[code]

};

[2014-09-17 09:59] asciidisco commented on #102
Could you please reduce this to the relevant parts for this issue please?

[2014-09-26 14:04] michaelcmundo commented on #102
I think I just close this ticket and open up another ticket about the almond instead. Thanks.

[2014-09-26 14:04] #102 closed, assigned to asciidisco

[2014-10-07 15:43] fewstera opened #103 "Add Uglify2 AsciiOnly support"
Not sure if I'm missing something, but I can't see a way to set the AsciiOnly value for Uglify2.

Thanks in advance,

Aidan

[2014-12-02 21:08] asciidisco commented on #103
You can do it like it is described in the official [r.js example](https://github.com/jrburke/r.js/blob/master/build/example.build.js#L174-L195).

You can set this in your `requirejs` task in the `options` property:

[code]

[2014-12-02 21:08] #103 closed, assigned to asciidisco

[2014-12-02 21:31] asciidisco commented on #82
I tried the same (well, not the exact same, but using a `locale` in my configuration).
The options get pumped through to `r.js` itself, I only set a [Custom r.js version](https://github.com/asciidisco/grunt-requirejs/blob/master/docs/customrjs.md) to the latest available version `requirejs` verion `2.1.15`.

Can you try this & then report if the issue still exists?

[2014-12-03 09:30] #47 closed, assigned to asciidisco

[2014-12-19 10:30] WebMex opened #104 "Couldn't run any tasks after requirejs task"
Hi,
I try to run clean task after requirejs task but it doesn't run.

grunt.registerTask("release", [
        "copy",
        "less:release",
        "processhtml:release",
        "requirejs",
        "clean:release"
    ]);

![20141219-ktyo-28kb](https://cloud.githubusercontent.com/assets/3994338/5503040/c5016ef6-877a-11e4-821c-5a8d24872f10.jpg)
How can I do it?

[2014-12-22 09:23] #104 closed, assigned to nobody

[2015-01-31 22:46] cwagner22 commented on #93
I've the same issue with `text:somefile` (https://github.com/requirejs/text)
Is there any solution?

[2015-02-16 11:21] hegdeashwin opened #105 "Error: Missing either an "out" or "dir" config value."
Below is my build configuration file: build.js

[code]

I am using "grunt-requirejs": "~0.4.2" as my build npm and Gruntfile requirejs configuration + r.js 2.1.16:

[code]

Whenever i am try to execute grunt requirejs it is throwing below error on my console:

[code]

I want to consolidate some of the JS files like jquery and its plugins etc. into 1 file and i am using AMD pattern similar to proje

[2015-03-03 12:10] leegee opened #106 "Support config.paths 'empty'?"
To support loading of CDN resources, r.js config [supports](http://requirejs.org/docs/optimization.html#empty) what it calls 'empty' paths — does requirejs?

[2015-03-03 12:24] leegee commented on #106
Yes it does, if I include the colon, "`empty:`"

[2015-03-03 12:24] #106 closed, assigned to nobody

[2015-03-05 23:50] jpuffer opened #107 "using uglify2 with sourcemaps emits two //# sourceMappingURL comments"
When setting `optimize: 'uglify2'`,  I get the following output on the end of my main.js:

[code]

reverting the `optimize` option to `none` emits just the sourcemap's url as expected:

[code]

[2015-03-31 10:38] esperancaJS commented on #107
same here

[2015-03-31 14:20] dotnetwise commented on #87
This still seems to be an issue on `2.1.16`
Bummer!

[2015-03-31 14:31] dotnetwise commented on #87
We explicitely want that, since we always build to a new fresh folder, hence the first step is to copy the source code in there, and then explicitly want it to be overwritten!

[2015-04-13 20:00] dnna commented on #107
A quick workaround I have found is to locate the following lines in r.js:

[code]

and comment out the **stream += "\n//# sourceMappingURL=" + options.outSourceMap;** part

[2015-04-22 08:50] jfschwarz commented on #107
+1
using require.js at version 2.1.15 or below fixes the problem. (apparently this a regression with version 2.1.16 of require.js)

[2015-04-22 11:01] asciidisco commented on #107
@jfschwarz @dnna Cn you confirm that this is a `requirejs` related bug, or does it only appear when used in combination with `grunt-requirejs`?

[2015-04-22 12:36] dnna commented on #107
The bug appears when running r.js directly as well, when using uglify2 optimization, so I'd say its a requirejs related bug.

[2015-04-23 10:07] asciidisco commented on #105
Can your reproduce this, using the `grunt-contrib-requirejs` package?
That is probably also the thing you want to use, as you do not use any "special" functionality provided by this package, and it is way better maintained.

[2015-04-23 13:28] asciidisco commented on #107
Closing this as it is an `r.js` issue & not directly related to `grunt-requirejs`

[2015-04-23 13:28] #107 closed, assigned to asciidisco

[2015-06-16 16:00] mciastek opened #108 "No error after declaring wrong path to file in 'replaceRequireScript'"
Hi,

I encountered weird bug. When you set wrong path to file in `replaceRequireScript` grunt task doesn't throw any error, even in verbose mode.

Sample config, where file 'index.html' does not exist:

[code]

Regards

[2015-07-08 10:22] mkoczorowski commented on #93
Having the same issue. Any update here?

[2015-10-14 08:19] silentzone opened #110 "use uglify2 optimize js but annotation still exist"
gruntfile :
requirejs: {
          compile: {
            options: {
              optimize: "uglify2",
              baseUrl: "resource/js",
              mainConfigFile: 'resource/js/app.js',
              name : "app",
              out: "resource/js/r.app.js",

[2015-10-14 08:21] silentzone commented on #110
r.app.js:
eval('/_! jQuery v2.1.1 | (c) 2005, 2014 jQuery Foundation, Inc. | jquery.org/license */\n! ...somecode...
eval("/_*\n \* @license AngularJS v1.3.7\n \* (c) 2010-2014 Google, Inc. http://angularjs.org\n \* License: MIT\n */  ...somecode...

[2015-11-01 03:26] nhuthuynh opened #111 "site does not work after build"
After i runt build of grunt task, and i run my site with localhost but it do not work. It seem grunt-requirejs  not work correctly as i expect. Could anyone look i my files and show me my issues with grunt-requirejs configuration ?
my index.html cannot load vendor.js and scripts.js, because i used **"<base href="/">"** in my index.html for*\* refresh the page without errors loading wrong path of r

[2015-11-08 14:41] egemon commented on #37
Hi gays!
Had the same issue.
My mistake was incorrect base url. So you set name to the name of your main js file, check base url and all works

[2016-03-29 11:45] scazzy opened #113 "Undefined missing [module]"
Compiles without error.
But when run in browser, get error "Undefined missing [module]"

<img width="496" alt="screenshot 2016-03-29 16 23 54" src="https://cloud.githubusercontent.com/assets/1681586/14106715/cd15af06-f5d0-11e5-95b4-befe7bc786e9.png">

This is my grunt file config

[code]

[2016-05-30 13:23] bgolubovic commented on #107
@dnna +1 Thank you, this works for me.

[2016-06-24 18:31] TDA opened #114 "Remove peerDeps"
As of npm3+, peerDeps will no longer be installed automatically. Lets remove the peerDep grunt and keep the devDep.

@asciidisco

[2016-07-11 15:45] manjula-dube commented on #101
Yes !!

[2016-09-19 02:50] samreid commented on #80
The license now says MIT, perhaps this can be closed?

[2017-01-12 09:09] nethala2000 opened #116 "Error: Cannot find module 'jsdom'"
This is my console putput
C:\Program Files\nodejs>npm install jsdom
C:\Program Files\nodejs
`-- jsdom@9.9.1
  +-- abab@1.0.3
  +-- acorn@2.7.0
  +-- array-equal@1.0.0
  +-- content-type-parser@1.0.1
  +-- html-encoding-sniffer@1.0.1
  +-- iconv-lite@0.4.15
  +-- sax@1.2.1
  +-- symbol-tree@3.2.1
  +-- webidl-conversions@3.0.1
  +-- whatwg-encoding@1.0.1
  | `-- iconv-lite@0.4.13
  +-- whatwg-url@4

[2017-01-12 09:10] nethala2000 commented on #116
I have Python 2.7 and nodejs installed

[2017-01-12 09:13] nethala2000 commented on #116
[pre_render_d3_graph.txt](https://github.com/asciidisco/grunt-requirejs/files/701156/pre_render_d3_graph.txt)
I am trying t execute  this file

[2017-03-20 18:20] #93 closed, assigned to asciidisco

[2022-03-02 12:45] #82 closed, assigned to asciidisco